.bottomPart {
  padding: 2.144vh 2.144vh;
}

.bottomPart div {
  background-color: #e5ecf4;
  border-radius: 30px;
  height: 193px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomPart div p {
  margin-top: 3vh;
}

.imageContainer {
  margin-top: 2.144vh;
  margin-bottom: 7.692vh;
}
